@model Modelo.Models.Usuario

@{
    ViewData["Title"] = "Borrar";
}

<h2>Borrar</h2>

<h3>Está seguro de eliminar este usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsrNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrActivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrActivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol.RolNombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsrId" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Volver a la lista de usuarios</a>
    </form>
</div>
