@model Modelo.Models.Usuario

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsrNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrActivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrActivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol.RolNombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UsrId">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
