@model IEnumerable<Modelo.Models.Usuario>

@{
    ViewData["Title"] = "GESIÓN DE USUARIOS";
}

<h2>GESTIÓN DE USUARIOS</h2>

<p>
    <a asp-action="Create">Crear Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UsrNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsrPassword)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsrActivo)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsrNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsrPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsrActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.RolNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsrId">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.UsrId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.UsrId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
